@import "styles/style.scss";

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 220px;
  gap: 0.8rem;
  cursor: pointer;
  position: relative;

  img {
    border-radius: 0.8rem;
  }

  &_infos {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      color: white;
      font-size: $font-size-heading-s;
      font-weight: 800;
    }

    &_info {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: $font-size-body-s;
      p {
        color: rgb(161, 155, 155);
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease 0s;

    .overlay {
      &_btn {
        display: flex;
      }
    }
  }
}

.overlay {
  &_btn {
    display: none;
    align-items: center;
    gap: 1rem;

    padding: 0.6rem 1.25rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.251);
    border: none;
    color: white;
    font-size: 18px;

    position: absolute;
    z-index: 2;

    transform: translate(65%, -370%);
    cursor: pointer;
  }
}

.large {
  width: 480px;
  height: 220px;
  position: relative;

  .overlay {
    &_btn {
      transform: translate(130%, -340%);
    }
  }

  .card {
    &_infos {
      gap: 8px;
      left: 5%;
      top: 70%;
      position: absolute;

      &_info {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $font-size-body-m;

        h3{
            font-size: $font-size-heading-l;
        }

        p {
          color: rgb(171, 168, 168);
        }
      }
    }
  }
}
