.container{
    display: flex;
    width: 100%;
    gap: 3rem;
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.movies-container{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        row-gap: 3rem;
}


h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
}

@media screen and (max-width: 890px) {
    .container{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .movies-container{
        justify-content: center;
    }

    h1{
        font-size: 2rem;
        text-align: center;
    }
}